<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="./public/css/expensePage.css">
</head>
<body>
    <header>
        <h2>Day to Day expenses</h2><br>
        <button id="downloadExpense">Download Expense Report</button>

    </header>
    <div class="monthly-report">
        <div class="header">
            <h3>Monthly report</h3>
        </div>
        <!-- <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Income</th>
                    <th>Expense</th>
                </tr>
                <tbody id="monthly-table-body">
                    <tr>
                        <td>01/02/23</td>
                        <td>Shopping</td>
                        <td>bag</td>
                        <td>20000</td>
                        <td>5000</td>
                    </tr>
                </tbody>
            </thead>
        </table>
    </div>
    <br>
    
    <div class="yearly-report">
        <div class="header">
            <h3>Yearly report</h3>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Income</th>
                    <th>Expense</th>
                    <th>Savings</th>
                </tr>
                <tbody id="yearly-table-body">
                    <tr>
                        <td>January</td>
                        <td>50000</td>
                        <td>20000</td>
                        <td>30000</td>
                    </tr>
                </tbody>
            </thead>
        </table>
    </div>

    <div class="yearly-report">
        <div class="header">
            <h3>Notes report</h3>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Notes</th>
                </tr>
                <tbody id="yearly-table-body">
                    <tr>
                        <td>01/02/23</td>
                        <td>Shopping</td>
                    </tr>
                </tbody>
            </thead>
        </table>
    </div> -->
    <div id="previous-downloads">
        <h3>Previous download links</h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./public/js/expensePage.js"></script>
</body>
</html>